<div class="user">
  <mat-card>
    <mat-card-header>
      <mat-card-title
        ><p>{{ user.id }}</p></mat-card-title
      >
      <mat-card-subtitle>
        <p>{{ user.name }}</p></mat-card-subtitle
      >
      <mat-card-subtitle>
        <p>{{ user.email }}</p></mat-card-subtitle
      >
      <mat-card-subtitle>
        <p>{{ user.username }}</p></mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-actions align="end">
      <button
        mat-raised-button
        color="primary"
        (click)="userService.deleteUser(user.id)"
      >
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
