<div class="user">
  <mat-card>
    <mat-card-content>
      <mat-card-subtitle
        ><p>{{ user.id }}</p></mat-card-subtitle
      >
      <mat-card-subtitle>
        <p>{{ user.name }}</p></mat-card-subtitle
      >
      <mat-card-subtitle>
        <p>{{ user.email }}</p></mat-card-subtitle
      >
      <mat-card-subtitle>
        <p>{{ user.username }}</p></mat-card-subtitle
      >
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          (click)="onDeleteUser(user.id)"
        >
          Delete
        </button></mat-card-actions
      >
    </mat-card-content>
  </mat-card>
</div>
