.users__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: rgb(153, 98, 160);
  border: 3px solid rgb(107, 97, 183);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}
